{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
		<title>Campus Connect</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
{% endblock %}

{% block navbar %}
		<header id="header">
			<h1><a href="#">Campus</a> Connect</h1>
			<nav id="nav">
				<ul>
					<li><a href="{{ url_for('main.index')}}">Home</a></li>
					{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('main.user', email=current_user.email) }}">Profile</a></li>
					{% endif %}
					<li><a href="{{ url_for('auth.register')}}" class="button">Sign Up</a></li>
				</ul>
			</nav>
		</header>
{% endblock %}

{% block content %}
{% block page_content %}{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.scrollgress.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/util.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/main.js')}}"></script>
{{ moment.include_moment() }}
{% endblock %}
