{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Campus Connect{% endblock %}

{% block page_content %}

<div class="page-header">
    <h2>Hello, {% if current_user.is_authenticated %}
    {% if current_user.name %}
    {{ current_user.name }}
    {% else %}
    {{ current_user.username }}
    {% endif %} </h3>
{% else %}Stranger{% endif %}</h2>
</div>
<section class="box">
<div>
    {% if current_user.company %}
    <h4> <u>Post a Job Below </u></h4>
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All Campus Jobs</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">My Jobs</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
