{% extends "basenew.html" %}


{% block page_content %}
			<!-- Main -->
			<h2 id='landheader'> Your Campus is a Special Place. Help a Company Understand That.</h2>

			<div class='flex-container'>
				<div class="flex-item">
					<img id="landpic" src="{{ url_for('static', filename='images/students.jpg') }}">
				</div>
					<div class="box landing">
						<h3> <center> Be Notified When We Launch </center> </h3>
						<form id="formsubmit" method="post" action="{{ url_for('main.landing') }}">
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="name" id="name" value="" placeholder="Name" />
								</div>
								<div class="6u 12u(mobilep)">
									<input type="email" name="email" id="email" value="" placeholder="Email" />
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input type="submit" id="signup" value="Sign Up" /></li>
									</ul>
								</div>
							</div>
						</form>
						<div id="append"> </div>
						<p> Stay up to date with the latest developments from Campus Rep,
						your new source of engaging campus jobs</p>
					</div>
					<div class="flex-item2">
						<img id='landpic2' src="{{ url_for('static', filename='images/students2.jpg') }}">
					</div>

			</div>



			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

{% endblock %}


		<!-- Scripts -->
		<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='assets/js/jquery.scrollgress.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='assets/js/util.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='assets/js/main.js')}}"></script>
