{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Campus Connect - Post{% endblock %}

{% block page_content %}
<br>
<h2> {{ posts[0].title }} </h2>
<h3 id="comments">Messages</h3>
{% if current_user.is_authenticated %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}

<section class="box">
<ul class="alt">
  <h3> Tasks Assigned </h3>
{% for task in tasks %}
  <li>{{ task.description }} {% if task.done %} <b> Completed </b> {% else %}
    <a href="{{ url_for('.completetask', id=task.id, postid=posts[0].id) }}#comments">
          <span class="label label-success" id="view2">Mark as completed</span>
      </a> {% endif %}
</li>
{% endfor %}
</ul>
</section>
{% endif %}
{% endblock %}
